body {
	margin: 0;
	padding: 0;
}
.img-holder {
	padding: 0;
}
.logo-img {
	max-width: 100%;
	border-radius: 5px;
	max-height: 100%;
	opacity: 0.7;
}
.landing-img {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}
.subheading {
	/* align-self: flex-start; */
	justify-self: flex-start;
}

.lede {
	text-align: center;
	font-size: 2em;
}
.main {
	display: block;
	margin: 0 auto;
}
